set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'CentOS-Stream-9-BaseOS-x86_64'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install CentOS Stream 9' --class fedora --class gnu-linux --class gnu --class os {
        linuxefi /centos/vmlinuz inst.stage2=http://192.168.100.2/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso inst.ks=http://192.168.100.2/automation/kickstart-centos.cfg quiet
        initrdefi /centos/initrd.img
}
menuentry 'Test this media & install CentOS Stream 9' --class fedora --class gnu-linux --class gnu --class os {
        linuxefi /centos/vmlinuz inst.stage2=http://192.168.100.2/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso rd.live.check quiet
        initrdefi /centos/initrd.img
}
submenu 'Troubleshooting -->' {
        menuentry 'Install CentOS Stream 9 in text mode' --class fedora --class gnu-linux --class gnu --class os {
                linuxefi /centos/vmlinuz inst.stage2=http://192.168.100.2/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso inst.ks=http://192.168.100.2/automation/kickstart-centos.cfg inst.text quiet
                initrdefi /centos/initrd.img
        }
        menuentry 'Rescue a CentOS Stream system' --class fedora --class gnu-linux --class gnu --class os {
                linuxefi /centos/vmlinuz inst.stage2=http://192.168.100.2/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso inst.rescue quiet
                initrdefi /centos/initrd.img
        }
}
