# System language
lang en_US.UTF-8

# Keyboard layout
keyboard us

# Timezone setup
timezone Europe/Berlin --isUtc

# Root password
rootpw --plaintext Pa$$w0rd

# Add user 'lucian' with admin privileges and set the password
user --name=lucian --password=Pa$$w0rd --groups=wheel --plaintext

# Set hostname
network --hostname=centos

# Network configuration with static IP for eth0
network --bootproto=static --device=eth0 --ip=192.168.100.10 --netmask=255.255.255.0 --gateway=192.168.100.2 --nameserver=192.168.100.2 --onboot=yes

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Clear the Master Boot Record
zerombr

# Partition clearing information and setup
clearpart --all --initlabel

# EFI System Partition (required for UEFI)
part /boot/efi --fstype="efi" --size=600 --fsoptions="umask=0077,shortname=winnt"

# Create a /boot partition (outside of LVM)
part /boot --fstype="xfs" --size=1024

# Create the LVM physical volume
part pv.01 --fstype="lvmpv" --size=1 --grow

# Create the volume group
volgroup VolGroup --pesize=4096 pv.01

# Create root partition and swap inside LVM
logvol / --fstype="xfs" --name=root --vgname=VolGroup --size=10240 --grow
logvol swap --name=swap --vgname=VolGroup --size=2048

# Minimal installation group (without EPEL)
%packages
@^minimal-environment
yum-utils
%end

# Post-install script for /etc/hosts configuration
%post --nochroot
# Enable network connection
echo "nameserver 192.168.100.1" > /mnt/sysimage/etc/resolv.conf

# Copy repo info and enable network in the chrooted system
cp /etc/yum.repos.d/* /mnt/sysimage/etc/yum.repos.d/

# Append entries to /mnt/sysimage/etc/hosts
cat << EOL >> /mnt/sysimage/etc/hosts
192.168.100.2    pfsense
192.168.100.3    onion ids
192.168.100.10   centos ansible greenbone wazuh
192.168.100.11   ubuntu
192.168.100.12   fedora
192.168.100.13   debian
192.168.100.14   kali
EOL

# Clean up
chroot /mnt/sysimage /bin/bash <<EOF
yum clean all
EOF
%end

# Reboot after installation
reboot
